

block content
  h1 Adega Be MEAN
  p= msg

  table.table
    tbody
      tr
        td(style='200px') Name: 
        td {{ beer.name }}
      tr
        td(style='width: 200px') Category: 
        td {{ beer.category }}
      tr
        td(style='200px') Price: 
        td {{ beer.price }}
      tr
        td(style='200px') Alcohol: 
        td {{ beer.alcohol }}
      tr
        td(style='200px') Description: 
        td {{ beer.description }}
